<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<h1>Welcome to <span class="fas fa-book"></span><strong>Bookers!</strong></h1>
		<p>In <span class="fas fa-book"></span><strong>Bookers</strong>,<br>

		   you can share and exchange your opinions , inpressions , and emotions<br>

           about varioius books!</p>
		<%= link_to "login",new_user_session_path , class: "btn btn-info col-lg-10 col-lg-offset-1" %>
		<br>
		<%= link_to "sign up",new_user_registration_path , class: "btn btn-success col-lg-10 col-lg-offset-1" %>
	</div>
</div>