# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 9cc1d0b2c2d9a29473680f099cd2c7bcc552a904b0420d88d1dae74724013a9eb0b378f7099934cce49ea0101d49122230e3e192848e75ce8264f24a3bafcc84

test:
  secret_key_base: 933770f9059a07848176c31b14dc7e0326bbe5326e4ef9caf8a43769eed4f1488788258b82e66234b1d64ae19c4e458d7e0409f2dbfb59f13bdca05d7df97936

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
